.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: all 2s;
}

.collapsible * {
  display: block;
  margin-top: 6px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid lightgray 1px;
  background-color: white;
}

.collapsible.show {
  /* max-height: *.clientHeight; */
}
